h1 {
    text-align: center;
    color: #33ccff;
    font-size: 50;
}

.neonText {
    animation: glow 1s ease-in-out infinite alternate;
  }
  

html {
    background: linear-gradient(0deg,#33ccff 0%, #33cc 51%,black 75%);
}

video{
    float: center;
}